* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 12px;

  /* font-size: responsive 12px 21.5px;
  font-range: 1240px 1920px; */
}

body {
  width: 100vw;
  color: var(--colour-font);
  font-size: 100%;
  font-family: var(--font-sub);
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

html,
button,
input,
select,
textarea {
  color: var(--colour-font);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dadada;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colour-font);

  &:--enter {
    color: color(var(--colour-red) a(80%));
  }
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:--heading {
  margin-top: 0;
  font-weight: 400;
  font-family: var(--font-sub);
}

h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 800;
}

h3 {
  margin-bottom: 0;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 800;
}

h5 {
  margin: 0 0 0.3em;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;
