@-webkit-keyframes spin {
  0%, 40% {
    -webkit-transform:rotate(0deg);
  }
  50%, 90% {
    -webkit-transform:rotate(180deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}

@-webkit-keyframes getsmaller {
  0%, 15%, 75%, 78%, 100% {
    -webkit-transform:none;
  }
  25%, 74% {
    -webkit-transform:scale(0.4);
  }
  76% {
    -webkit-transform:translateY(-2px);
  }
}

@-webkit-keyframes getbigger {
  0%, 24%, 75%, 100% {
    -webkit-transform:scale(0.4);
  }
  26% {
    -webkit-transform:scale(1) translateY(2px);
  }
  25%, 28%, 65% {
    -webkit-transform:none;
  }
}

@-webkit-keyframes drop{
  0%, 10%, 74%, 100% {
    -webkit-transform:none;
  }
  23% {
    -webkit-transform:translateY(6px);
  }
  73% {
    -webkit-transform:translateY(36px);
  }
  24%, 60% {
    -webkit-transform:translateY(42px);
  }
}

@keyframes blink {
  0% { opacity:0.6; }
  10% { opacity:1; }
  100% { opacity:0.6; }
}

@keyframes diffusion {
  0% { 
    opacity: 1;
    transform: scale(0.2);
  }
  75% {
    transform: scale(1.25);
  }
  100% { 
    opacity: 0;
    transform: scale(1.25);
  }
}
