.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  pointer-events: none;
  transform: translateX(-100%);

  &__disc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--colour-primary);
    background: var(--colour-primary);
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.2);
    will-change: transform;
  }

  &__cross {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s var(--ease-out-circ);
    transform: scale(0);
    will-change: transform;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      margin: auto;
      content: '';
      background-color: var(--colour-primary);
    }

    &::before { transform: rotate(45deg); }
    &::after { transform: rotate(-45deg); }
  }

  &__loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin: auto;
    color: #fff;
    transition: transform 1s var(--ease-out-circ);
    transform: scale(0);

    svg {
      width: 25px;
      height: 25px;
    }

    .is-load-start & { transform: scale(1); }
  }

  &__arrows {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 0.68rem;
    transition: transform 1s var(--ease-out-circ);
    transform: scale(0);
    will-change: transform;

    svg:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .polygon { fill: #fff; }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    width: 1.2rem;
    height: 1rem;
    margin-top: -0.5rem;
    overflow: hidden;
    font-size: 0;
    transition: width 0.2s;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    will-change: transform;

    &--left { left: 0.5rem; }
    &--right { right: 0.5rem; }
  }

  &[data-expand=true] .cursor__disc {
    background: transparent;
    transform: scale(2);
  }

  &[data-light=true] .cursor__disc {
    circle { stroke: var(--colour-secondary); }
  }

  &[data-expand=true]&[data-small=true] .cursor__disc {
    background: transparent;
    transform: scale(1.125);
  }

  &[data-cross=true] .cursor__cross {
    background: transparent;
    transform: scale(1);
  }

  &[data-arrows=true] .cursor__arrows {
    background: transparent;
    transform: scale(1);
  }

  &[data-arrows=true]&[data-expand=false] .cursor__disc,
  &[data-cross=true]&[data-expand=false] .cursor__disc {
    opacity: 0;
  }

  &[data-direction=left] .cursor__arrows,
  &[data-direction=right] .cursor__arrows {
    background: transparent;
    transform: scale(1);
  }

  &[data-arrows=true]&[data-expand=true] {
    .cursor__disc {
      background: transparent;
      opacity: 1;
    }

    .cursor__arrows { opacity: 0; }
  }

  &[data-direction=left]&[data-expand=false] .cursor__disc,
  &[data-direction=right]&[data-expand=false] .cursor__disc {
    opacity: 0;
  }

  &[data-direction=right] {
    .cursor__arrow--left { opacity: 0; }
    .cursor__arrow--right { width: 2rem; }
  }

  &[data-direction=left] {
    .cursor__arrow--right { opacity: 0; }
    .cursor__arrow--left { width: 2rem; }
  }

  &[data-hidden=true] { opacity: 0; }
}
