@keyframes rotate {
  from { transform: rotateX(-360deg) rotateY(0deg); }
  to { transform: rotateX(0deg) rotateY(360deg); }
}

/** @define menu */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 0;
  pointer-events: none;

  @apply --hide;

  @media (--screen-sm-max) {
    padding: 0 var(--space-m-mobile);
    padding-top: var(--header-height-mobile);
  }

  &.is-active {
    height: 100%;

    @apply --show;
  }

  &.is-loaded {
    pointer-events: auto;
  }

  &__content {
    height: 100%;

    @apply --flex-layout;

    @media (--screen-sm-max) {
      align-items: center;
      padding-bottom: var(--header-height-mobile);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--colour-bg);
  }

  &__container {
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--space-m);

    @media (--screen-sm-max) {
      display: block;
      padding: 0;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 39.975vw;
    margin-right: 5rem;

    @media (--screen-sm-max) {
      display: block;
      width: auto;
      margin: 0;
    }
  }

  &__inner {
    width: 100%;
    max-width: 20rem;

    @media (--screen-sm-max) {
      min-width: 0;
      max-width: none;
      padding-right: 0;
      margin-right: auto;
      margin-left: auto;

      /* max-width: calc(var(--content-width-mobile) - var(--space-m-mobile) * 2); */
    }
  }

  &__collection {
    height: 40vh;
    padding-bottom: 36px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    @media (--screen-sm-max) {
      height: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__title {
    font-size: 1rem;
    color: var(--colour-primary);

    @media (--screen-sm-max) {
      margin: 0;
      font-size: var(--fsize-xxl-mobile);
      text-align: center;
    }

    @media (--screen-xs-max) {
      font-size: var(--fsize-xl-mobile);
    }
  }

  &__shape-container {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--colour-primary);
    opacity: 0;
    transition: 0.3s opacity ease;
    transform: translate(-50%, -50%);
    perspective: 1200px;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    font-size: var(--fsize-xxl);
    font-weight: 500;

    &:hover {
      .menu__shape-container { opacity: 1; }

      @media (--screen-sm-max) {
        .menu__shape-container { opacity: 0; }
      }
    }

    &.is-active {
      pointer-events: none;
      .menu__shape-container { opacity: 1; }

      @media (--screen-sm-max) {
        .menu__shape-container { opacity: 0; }
      }
    }

    @media (--screen-sm-max) {
      padding: 0;
      margin: 3.666vh 0;
      font-size: 1em;
    }

    &--sub {
      min-width: 51px;
      margin: 0 11px;
      text-align: center;

      @media (--screen-sm-max) {
        margin: 3.666vh 0;
        font-size: var(--fsize-xl-mobile);
      }
    }
  }

  &__list-container {
    width: 100%;

    @media (--screen-sm-max) {
      display: inline-block;
    }
  }

  &__list {
    width: auto;
    margin: auto;
  }

  &__item {
    margin: 8px 0;
    font-weight: 500;
    &:first-child { margin-top: 0; }

    &:last-child {
      @media (--screen-sm-max) {
        margin-bottom: 0;
      }
    }

    a::before {
      bottom: 0.85em;
      height: 1px;
    }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36vw;
    margin-top: 0;
    opacity: 0;

    .is-loaded & { opacity: 1; }

    @media (--screen-sm-max) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }

  .scrollbar-track {
    background-color: transparent;
    opacity: 1;
    &.scrollbar-track-x { height: 6px; }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin: auto;
      content: '';
      background-color: var(--colour-primary);
    }
  }

  .scrollbar-thumb {
    height: 6px;
    background: var(--colour-bg);
    border: 1px solid var(--colour-primary);
  }

  .scrollbar-track-x { opacity: 0; }
  &.is-loaded .scrollbar-track-x { opacity: 1; }
}

.menu-trigger {
  position: absolute;
  top: 2.8rem;
  right: 1.333rem;
  z-index: 10;
  justify-self: center;
  width: 2rem;
  height: 1rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  outline: none;

  @media (--screen-sm-max) {
    position: relative;
    top: 0;
    right: 12px;
    grid-column-start: 10;
    grid-column-end: 11;
    margin-left: auto;
  }

  @media (--screen-xs-max) {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  &::before { top: 0; }
  &::after { bottom: 0; }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--colour-font-contrast);
    border-radius: 8px;
    transition: transform 0.4s, color 0.4s;

    .is-home & { background-color: var(--colour-font); }
    .is-contrast & { background-color: var(--colour-font); }
    .is-single & { background-color: var(--colour-font); }
    .is-post-visual & { background-color: var(--colour-primary); }

    @media (--screen-sm-max) {
      .is-home & { background-color: var(--colour-font-contrast); }
      .is-contact & { background-color: var(--colour-font-contrast); }
      .is-load-start & { background-color: var(--colour-font); }
    }
  }

  &.is-active {
    &::before { transform: rotate(45deg) translate(4px, 5px); }
    &::after { transform: rotate(-45deg) translate(4px, -5px); }
  }

  &.is-loaded,
  &:hover {
    &::before,
    &::after {
      @media (--screen-xs-min) {
        background-color: var(--colour-primary);
      }
    }
  }

  &.is-loaded {
    &::before,
    &::after {
      @media (--screen-sm-max) {
        .is-home & { background-color: var(--colour-primary); }
        .is-contact & { background-color: var(--colour-primary); }
      }
    }
  }
}
