/** @define modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10vh;
  touch-action: pinch-zoom;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @apply --hide;

  @media (--screen-sm-max) {
    padding: 0;
    touch-action: pinch-zoom !important;
    -webkit-user-drag: element !important;
  }

  &__image {
    z-index: 2;
    max-height: 100%;

    @media (--screen-sm-max) {
      width: 100%;
      object-fit: cover;
    }
  }

  &__button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    justify-self: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin-left: auto;
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    mix-blend-mode: difference;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: var(--colour-font-contrast);
      transition: transform 0.4s, color 0.4s;
    }

    &::before {
      top: 0;
      transform: rotate(45deg) translate(9px, 10px);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg) translate(9px, -9px);
    }

    &:hover {
      &::before,
      &::after {
        background-color: var(--colour-primary);
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 4rem;
    max-width: 64px;
    height: 4rem;
    max-height: 64px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.4s;

    @media (--screen-sm-max) {
      @apply --hide;
    }

    &--left {
      left: 5vw;
      background-image: url(/assets/svgs/arrow-modal-left.svg);

      @media (--screen-sm-max) {
        left: 1vw;
      }

      &:hover { transform: translateX(-6px); }
    }

    &--right {
      right: 5vw;
      background-image: url(/assets/svgs/arrow-modal-right.svg);

      @media (--screen-sm-max) {
        right: 1vw;
      }

      &:hover { transform: translateX(6px); }
    }

    &.is-hide {
      @apply --hide;

      pointer-events: none;
    }
  }
}
