<div class="cursor js-cursor" data-light="false" data-expand="false" data-small="false" data-cross="false" data-arrows="false" data-direction="null" data-hidden="false" data-back="false">
  <div class="cursor__disc">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104 104">
      <circle cx="52" cy="52" r="43" fill="none" stroke="currentColor" stroke-width="4"></circle>
    </svg>
  </div>

  <div class="cursor__loader">
    {% include 'svgs/loader.svg' %}
  </div>

  <div class="cursor__cross"></div>

  <div class="cursor__arrows">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104 104">
      <circle cx="52" cy="52" r="43" fill="none" stroke="currentColor" stroke-width="2"></circle>
    </svg>
    <div class="cursor__arrow cursor__arrow--left">
      {% include 'svgs/arrow-left.svg' %}
    </div>

    <div class="cursor__arrow cursor__arrow--right">
      {% include 'svgs/arrow-right.svg' %}
    </div>
  </div>
</div>
