<div class="util-grids">
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
  <div class="grid"></div>
</div>

<div class="util-control" id="util-control">
  <span class="util-control__title">utils:</span>
  <input class="util-grid-controller" id="util-grid-controller" type="checkbox">
  <label for="util-grid-controller">Grid</label>
  <input class="util-theme-controller" id="util-theme-controller" type="checkbox">
  <label for="util-theme-controller">Dark mode</label>
</div>