{% block pageid %}home{% endblock %}
{% block title %}home{% endblock %}

{% extends 'layout/_layout.html' %}

{% set id = "home" %}

{% block content %}
<main class="main main--home" id="main" role="main" data-page="Home" data-namespace="home">
  <article class="content content--home">
    <h1>Wicked SPA template</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt, quaerat, fugiat quam commodi maiores sed explicabo voluptate vero perspiciatis laudantium non odit a nulla repellat incidunt sunt! Cum, rerum.</p>
    <a class="js-ajax-trigger" href="/about">About Us</a>
  </article>
</main>

{% endblock %}

{% block scripts %} 
{% endblock %}