<footer class="footer" role="contentinfo">
  <div class="footer__inner u-inner">  
    <p class="footer__head">Contact me through</p> 

    <div class="footerSocial">
      <ul>
        <li class="footerSocial__item">
            <a class="js-button-standard footerSocial__link" href="mailto:yugo@c-is.co" data-size="small">Email</a>
        </li>
        <li class="footerSocial__item">
            <a class="js-button-standard footerSocial__link" href="https://500px.com/jealouslovers00" data-size="small" target="_blank">500px</a>
        </li>
        <li class="footerSocial__item">
            <a class="js-button-standard footerSocial__link" href="https://www.linkedin.com/in/yugoc89/" data-size="small" target="_blnak">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</footer>