<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | {{ projectName }}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Yugo Ito" />
  <meta property="og:title" content="" />
  <meta property="og:site_name" content=""/>
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="article:author" content="https://yugoc89.worlders.co.uk" />
  <meta property="article:publisher" content="https://yugoc89.worlders.co.uk" />
  <meta property="og:image" content="" />
  <meta property="og:locale" content="en_GB" /> 
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/style.css">

  <script src="https://use.typekit.net/wyh1ore.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>