<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-GB"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Yugo Ito" />
    <meta property="og:title" content="" />
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="article:author" content="https://yugoc89.worlders.co.uk" />
    <meta property="article:publisher" content="https://yugoc89.worlders.co.uk" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="en_GB" /> 
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style.css">

    <script src="https://use.typekit.net/wyh1ore.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="body-{% block pageid %} {% endblock %} root">

    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if __DEV__ %}
      {% include 'components/_util-grid.html' %}
    {% endif %}

    {% include 'layout/_loader.html' %}
    {% include 'components/_cursor.html' %}
    {% include 'layout/_header.html' %}

    <div class="wrapper" id="wrapper">
      {% block content %} {% endblock %}
    </div>

    {% include 'layout/_footer.html' %}

    {% block scripts %} {% endblock %}
  </body>
</html>
